.app {
  display: flex;
  flex-direction: column;
  justify-items: start;
  height: 100vh;
}

.appHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.contentView {
  flex-grow: 1;
}
